
<div data-ng-controller="content" class="container">
    <h1>All Users</h1>
    <div class="row">
        <div class="col-lg-3 users">
            <div class="input-group search-btn">
                <input id="search-user" type="text" placeholder="Search User..." class="form-control" data-ng-model="userinput" data-ng-change="fulllist()">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit" data-ng-click="search()"><span class="fa fa-search"></span> Search</button>
                 </span>
            </div>
            <div>
                <table class="table table-striped table-hover scroll-box">
                    <thead>
                    <th>
                        <label class="checkbox-inline">
                            <input type="checkbox" data-ng-model="checkall" data-ng-click="selectAll()" class="checkbox" data-ng-checked="all"> <strong>All</strong>
                        </label>
                    </th>
                    <th>Name</th>
                    </thead>
                    <tr class="list-user" ng-repeat="x in users | filter : {name: '' + fil} | orderBy: sortlist">
                        <td width="40%">
                            <input id={{x.id}} type="checkbox" data-ng-model="x.check" data-ng-click="select(x)" class="checkbox" data-ng-checked="checkall">
                        </td>
                        <td width="60%">
                            <label class="checkbox-inline" for={{x.id}}>
                                {{x.name + ' '}}
                            </label>
                        </td>
                    </tr>
                </table>
            </div>
            <button type="button" class="btn-add btn btn-default adduser-btn" data-ng-click="adduser()" data-ng-disabled="disableBtn">Add to User list</button>
            <div class="modal fade" id="confirmation-add" role="dialog" tabindex="-1" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header bg-primary">
                            <h4 class="modal-title">Notification:</h4>
                        </div>
                        <div class="modal-body">
                            <h4 class="text-danger">Let's check user!</h4>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-9 add-users">
            <strong><p class="text-scenario">Scenario Name</p></strong>
            <p class="text-userlist">User list</p>
            <div>
                <table class="table table-striped table-hover scroll-box">
                    <thead class="thead-add-user">
                    <th width="37%">
                        ID
                        <button type="button" class="btn btn-link btn-xs" data-ng-click="sort('id')">
                            <span class="fa fa-sort"></span>
                        </button>
                    </th>
                    <th width="10%">
                        Name
                        <button type="button" class="btn btn-link btn-xs btn-up" data-ng-click="sort('name')">
                            <i class="fa fa-sort"></i>
                        </button>
                    </th>
                    <th width="10%">
                        Age
                        <button type="button" class="btn btn-link btn-xs btn-up" data-ng-click="sort('age')">
                            <i class="fa fa-sort"></i>
                        </button>
                    </th>
                    <th width="38%">
                        Email
                        <button type="button" class="btn btn-link btn-xs btn-up" data-ng-click="sort('email')">
                            <i class="fa fa-sort"></i>
                        </button>
                    </th>
                    <th width="5%">
                        <button type="button" class="close" aria-label="Close" data-ng-disabled="disableBtndel" data-ng-click="showmodalDelall()">
                            <span aria-hidden="true" class="btn-del">&times;</span>
                        </button>
                        <div class="modal fade" id="confirmation-delall" role="dialog" tabindex="-1" aria-labelledby="myModalLabel">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header bg-primary">
                                        <h4 class="modal-title">Notification:</h4>
                                    </div>
                                    <div class="modal-body">
                                        <h4>Are you sure delete all users?</h4>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger"  data-dismiss="modal" data-ng-click="delAll()">Accept</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="x in add_users | orderBy : orderby : sortchange">
                        <td width="37%">{{x.id}}</td>
                        <td width="10%">{{x.name}}</td>
                        <td width="10%">{{x.age}}</td>
                        <td width="38%">{{x.email}}</td>
                        <td width="5%">
                            <button type="button" class="close" aria-label="Close" data-ng-click="showmodalDel(x)"><span aria-hidden="true" class="btn-del">&times;</span></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <a href="#!users"><button class="btn btn-primary btn-listuser">Manager List User >></button></a>
            </div>
        </div>
    </div>
    <!--Delete User-->
    <div class="modal fade" id="confirmation-del" role="dialog" tabindex="-1" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h4 class="modal-title">Notification:</h4>
                </div>
                <div class="modal-body">
                    <h4>Are you sure delete user?</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-ng-click="del()" data-dismiss="modal" >Accept</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>
